<div class="bg-white p-3">
<% unless user_signed_in? %>
<div class="border rounded-3 p-3" style="background-color:lightblue;">
  <%= link_to "会員登録", new_user_registration_path %>してギターフレーズを投稿しませんか？ =>もしくは<%= link_to "ログイン", new_user_session_path %>
</div>
<% end %>

<p class="title mt-3 mb-3">人気のフレーズ</p>

<div class="row">
  <% @phrase.each do |phrase| %>
    <div class="col-sm-6 mb-5">
      <div class="text-center">
      <a class="text-dark" href=<%= phrase_path(phrase) %>><%= phrase.title %></a>
      
      <p class="text-muted"><%= phrase.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <% if user_signed_in? %>
          <%= audio_tag url_for(phrase.music_file), controls: true, controlslist: "nodownload" %>
        <% else %>
          favユーザー限定フレーズ
        <% end %>
      </div>
      <div class="d-flex justify-content-center">[投稿者]<%= link_to phrase.user.username, user_path(phrase.user) %></div>
    </div>
  <% end %>
</div>

<%= link_to "もっと見る", phrases_path, class: "d-flex justify-content-end" %>
<p class="title mt-3 mb-3">人気のテーマ</p>
テーマ・・・
<%= link_to "もっと見る", root_path, class: "d-flex justify-content-end" %>
<p class="title mt-3 mb-3">人気のタグ</p>
タグ・・・
<p class="title mt-3 mb-3">人気のユーザー</p>
<%= render "layouts/user_list", users: @users%>
<%= link_to "もっと見る", users_path, class: "d-flex justify-content-end" %>
</div>