<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <div class="field mt-3 mb-3">
    <%= f.label :new_profile_picture, "プロフィール画像(JPEG,GIF,PNG)" %>
    <div><%= f.file_field :new_profile_picture %></div>
    <% if current_user.profile_picture.attached? %>
      <div>
        <%= image_pack_tag current_user.profile_picture.variant(resize: "128x128") %>
        <%= f.check_box :remove_profile_picture %>
        <%= f.label :remove_profile_picture, "画像を削除" %>
      </div>
    <% end %>
  </div>

  <div class="field mb-3">
    <%= f.label :username, "ユーザー名" %>
    <%= f.text_field :username, autofocus: true, autocomplete: "name", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :introduction, "自己紹介" %>
    <%= f.text_area :introduction, rows: 6, class: "form-control" %>
  </div>

  <% unless current_user.password_manually_updated? %>
  <div class="field mb-3">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :password, "パスワード" %> <i>(変更する場合は入力して下さい)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field mb-3">
    <%= f.label :password_confirmation, "パスワード(確認)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>


  <% end %>

  <div class="actions mb-3">
    <%= f.submit "編集完了", class: "btn btn-primary" %>
  </div>
  
  <%= link_to "Back", :back %>
<div class="border-bottom mt-5"></div>
<% end %>

<h3 class="mt-5">退会する(アカウントの削除)</h3>

<%= link_to "退会", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete, class: "btn btn-danger" %>