<% comments.each do |c| %>
  <div>
    <a href="/users/<%= c.user.id %>"><%= c.user.username %></a>
    <%= convert_url_into_a_tag(h(simple_format(c.content))).html_safe %>
    <% if c.user.id == current_user.id %>
      <br>
      投稿日：<%= c.created_at.to_s(:datetime_jp) %>
        <%= link_to phrase_comment_path(c.phrase_id, c.id), method: :delete, remote: true, data: {confirm: "削除しますか？"} do %>
          <span class="panel-icon">
            <%= image_tag "trash.svg" %>
          </span>
        <% end %>
      <hr>
    <% else %>
      <br>
        投稿日：<%= c.created_at.to_s(:datetime_jp) %>
      <hr>
    <% end %>
  </div>
<% end %>