<div class="bg-white p-3">

<% if @value.present? %>

<% if @model == "user" %>
<p class="mb-0">ユーザー検索ワード：<%= @value %></p>
<p>検索結果数：<%= @dates.count %></p>
    <%= render "layouts/user_list", users: @dates %>
<% end %>

<% if @model == "phrase" %>
<p class="mb-0">フレーズ検索ワード：<%= @value %></p>
<p>検索結果数：<%= @dates.count %></p>
  <%= render "phrases/phrases", phrases: @dates %>
<% end %>

<% if @model == "theme" %>
<p class="mb-0">テーマ検索ワード：<%= @value %></p>
<p>検索結果数：<%= @dates.count %></p>
  <%= render "themes/themes", themes: @dates %>
<% end %>
<div class="mt-3">
<%= paginate @dates %>
</div>

<% else %>
検索ワードを入力して下さい。
<% end %>
</div>