<% themes.each do |t| %>
<div class="border-bottom">
  <div class="row pt-3 pb-3">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <%= cheak_use_picture(t.user, "124x124") %>
        </div>
        <div class="col-9">
          <div class="mb-2">
            <%= link_to t.user.username, user_path(t.user), class: "text-dark" %> <%= t.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
          <div class="pt-3 pb-3">
            <h3><%= image_tag "music.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %><%= link_to t.title, theme_path(t), class: "text-dark d-inline-block p-3" %></h3>
          </div>
          <div>
          <%= image_tag "tag.svg" %>
            <%= link_to t.tag_1, search_path(search: {model: "theme", value: t.tag_1}), class: "text-dark" %>
            <%= link_to t.tag_2, search_path(search: {model: "theme", value: t.tag_2}), class: "text-dark" %>
            <%= link_to t.tag_3, search_path(search: {model: "theme", value: t.tag_3}), class: "text-dark" %>

          </div>
          <div>
            <%= link_to "詳しく見る", theme_path(t), class: "text-dark" %> コメント(<%= t.theme_commented_by.count %>)
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex align-items-center">
      <%= audio_tag url_for(t.music_file), controls: true, controlslist: "nodownload" %>
    </div>
  </div>
</div>
<% end %>