<div class="container bg-white p-3">
<h2 class="mb-2 title"><%= image_tag "guitar.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %>ギターは口ほどに物を言う。</h2>
<p class="p-2">
  これは私の言葉です。半分だけですが。<br>
  ギターフレーズを聴くと、その人の内面が見えてきます。<br>
  メロディはもちろん、ギターの音作り、強弱の付け方、その他諸々・・・全ての要素に意味があります。<br>
  そんなギターフレーズを通じて多くの人とわかり合いたい。そんな想いを持ってこのサイトを作りました。
</p>
<h2 class="mb-2 mt-5 title"><%= image_tag "guitar.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %>ギタフレ！はオリジナルギターフレーズ投稿サイトです。</h2>
<p class="p-2">
  <u><%= link_to "会員登録", new_user_registration_path %></u>してオリジナルの
  <u><%= link_to "フレーズを投稿", new_phrase_path %></u>してみませんか？<br>
  多くの人がgood!やコメントをしてくれるかもしれません。<br>
</p>

<h2 class="mt-5 mb-2 title"><%= image_tag "guitar.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %>フレーズが思い浮かばない！</h2>
<p class="p-2">
安心して下さい。<br>
ギタフレ！では、素敵なフレーズが思い浮かぶような素晴らしいテーマがいくつも用意されています。<br>
テーマをダウンロードし、ギターをかき鳴らしましょう！
</p>

<h2 class="mt-5 mb-2 title"><%= image_tag "music.svg", alt: "music", size: "28x28", class: "d-inline-block" %>テーマもアップロード可能です。</h2>
<p class="p-2">
というより、アップロードして下さい。<br>
あなたが作ったテーマに合わせて色んな人が多種多様のギターフレーズを奏でます。<br>
そんな夢のような話を実現できるのはこのギタフレ！だけです。（おそらく)
</p>

<h2 class="mt-5 mb-4 title"><%= image_tag "music.svg", alt: "music", size: "28x28", class: "d-inline-block" %>ギターが弾けなくても大丈夫。</h2>
<p class="p-2">
ギタフレ！はギターが弾けない人にも配慮しています。<br>
R&RやJAZZといったタグで検索し、気に入ったフレーズを上げているユーザーをFav!してみてください。<br>
そのユーザーがフレーズを投稿するたびに、あなたのマイページに更新されます。<br>
「天才！」「送金させて！」とコメントしてあげましょう。（ほどほどに）<br>
また、 <u><%= link_to "会員登録", new_user_registration_path %></u>することにより、気に入ったフレーズをダウンロードすることが可能です。<br>
あなただけのプレイリストを作成しましょう。
</p>

<h3 class="mt-5 mb-2 title"> <%= image_tag "tag.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %>ギタフレ！製作者情報</h3>
<div class="p-2">製作者
<p class="mb-3 ms-1"><a href="http://35.74.172.193/users/1">Kawasaki Kazuma</a><br>
</p>

連絡先
<p class="mb-2 ms-1">お問い合わせフォームからご連絡ください。=><%= link_to "お問い合わせ・ご意見", new_contact_path %></p>
</div>

</div>