<% phrases.each do |f| %>
<div class="border-bottom">
  <div class="row pt-3 pb-3">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
          <%= cheak_use_picture(f.user, "124x124") %>
        </div>
        <div class="col-9">
          <div class="mb-2">
            <h6 class="d-inline-block"><%= link_to f.user.username, user_path(f.user), class: "text-dark" %></h6> <%= f.created_at.strftime("%Y-%m-%d %H:%M")%> <%= image_tag "lock-fill.svg" if f.user_only? %>
          </div>
          <div class="pt-3 pb-3">
            <h3><%= image_tag "guitar.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %><%= fav_user_only_link?(f, f.title) %></h3>
          </div>
          <div>
          <%= image_tag "tag.svg", alt: "tag" %>
            <%= link_to f.tag_1, search_path(search: {model: "phrase", value: f.tag_1}), class: "text-dark" %>
            <%= link_to f.tag_2, search_path(search: {model: "phrase", value: f.tag_2}), class: "text-dark" %>
            <%= link_to f.tag_3, search_path(search: {model: "phrase", value: f.tag_3}), class: "text-dark" %>

          </div>
          <div>
            <%= fav_user_only_link?(f, "詳しく見る") %> good(<%= f.likers.count %>) コメント(<%= f.commented_by.count %>)
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center">

      <%= fav_user_only?(f)%>

    </div>
  </div>
</div>
<% end %>
