<div class="row mb-3">
  <div class="col-3 d-flex justify-content-center">
    <%= cheak_use_picture(@user, "200x200") %>
  </div>
  <div class="col-9 bg-white p-3">
    <div class="border-bottom mb-2"><h2><%= @user.username %></h2>
      fav!されている数(<%= @user.likers.count %>)
    </div>
    <% if @user.introduction.present? %>
      <%= simple_format(@user.introduction) %>
    <% else %>
      自己紹介はありません。
    <% end %>
  <div class="d-flex justify-content-end" id="fav_buttons_<%= @user.id %>"><%= render "favorite_users/fav", user: @user %></div>
  </div>
</div>