<ul class="nav nav-tabs">
 <% if @user == current_user %>
  <li class="nav-item">
    <%= link_to "マイページ", mypage_users_path, class: "nav-link active" %>
  </li>
<% end %>
  <li class="nav-item">
  <a href=<%= user_path(@user) %> class="nav-link">フレーズ(<%= @user.phrases.count %>)</a>
  </li>
  <li class="nav-item">
    <a href=<%= themes_user_path(@user) %> class="nav-link">テーマ(<%= @user.themes.count %>)</a>
  </li>
  <li class="nav-item">
    <a href=<%= favorite_phrases_user_path(@user) %> class="nav-link">goodしたフレーズ(<%= @user.liking_phrases.count %>)</a>
  </li>
  <li class="nav-item">
    <a href=<%= favorite_users_user_path(@user) %> class="nav-link">お気に入りユーザー(<%= @user.liking_users.count %>)</a>
  </li>
</ul>
<div class="contaier border-start border-end border-bottom bg-white p-3">
<% if @phrases.present? %>
  <% @phrases.each do |f| %>
    <div class="border-bottom">
      <div class="row pt-3 pb-3">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <%= cheak_use_picture(f.user, "124x124") %>
            </div>
            <div class="col-9">
              <div class="mb-2">
                <h6 class="d-inline-block"><%= link_to f.user.username, user_path(f.user), class: "text-dark" %></h6> <%= f.created_at.strftime("%Y-%m-%d %H:%M")%> <%= image_tag "lock-fill.svg" if f.user_only? %>
              </div>
              <div class="pt-3 pb-3">
                <h3><%= image_tag "guitar.svg", alt: "guitar", size: "28x28", class: "d-inline-block" %><%= link_to f.title, phrase_path(f), class: "text-dark d-inline-block p-3" %></h3>
              </div>
              <div>
              <%= image_tag "tag.svg", alt: "tag" %>
                <%= link_to f.tag_1, search_path(search: {model: "phrase", value: f.tag_1}), class: "text-dark" %>
                <%= link_to f.tag_2, search_path(search: {model: "phrase", value: f.tag_2}), class: "text-dark" %>
                <%= link_to f.tag_3, search_path(search: {model: "phrase", value: f.tag_3}), class: "text-dark" %>
              </div>
              <div>
                <%= link_to "詳しく見る", phrase_path(f), class: "text-dark" %> good(<%= f.likers.count %>) コメント(<%= f.commented_by.count %>)
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 d-flex align-items-center">
          <%= audio_tag url_for(f.music_file), controls: true, controlslist: "nodownload" %>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
  <p>自分のフレーズとfavしたユーザーのフレーズが表示されます。</p>
  <% end %>

</div>

<div class="question-index">
  <%= paginate @phrases, remote: true %>
</div>