<% @page_title = "ユーザー一覧" %>
<h1 class="text-center"><%= @page_title %></h1>

<% @users.each do |user| %>
  <div class="row mb-2 border-top">
    <div class="col-3 p-3">
      <%= cheak_use_picture(user) %>
    </div>
    <div class="col-9">
      <%= link_to user.username, user_path(user) %><br>
      <%= truncate(user.introduction, length: 50) %>
    </div>
  </div>
<% end %>
<%= paginate @users %>