<% theme_comments.each do |c| %>
  <div class="row">
    <div class="col-2 d-flex justify-content-end">
      <%= cheak_use_picture(c.user, "64x64") %>
    </div>
    <div class="col-10">
      <%= link_to c.user.username, user_path(c.user), class: "text-dark" %>
      <% if user_signed_in? %>
        <% if c.user.id == current_user.id %>
          投稿日：<%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
            <%= link_to theme_theme_comment_path(c.theme_id, c.id), method: :delete, remote: true, data: {confirm: "削除しますか？"} do %>
              <span class="panel-icon">
                <%= image_pack_tag "trash.svg" %>
              </span>
            <% end %>
        <% else %>
          <br>
            投稿日：<%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      <% else %>
        投稿日：<%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
      <% end %>

      <%= convert_url_into_a_tag(h(simple_format(c.content))).html_safe %>
    </div>
  </div>
  <hr>
<% end %>