<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=1050px, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mozi" style="background-color:whitesmoke;">
  <% if notice %>
  <p class="notice mb-0 text-white"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert mb-0 text-white"><%= alert %></p>
  <% end %>
    <%= render "layouts/header" %>
    <div class="container" style="max-width: 1050px; min-width: 240px;">
    <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
