<!DOCTYPE html>
<html>
  <head>
    <title>GuitaPhre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mozi" style="background-color:whitesmoke;">
    <%= render "layouts/header" %>
    <div class="container" style="width:1050px;">
    <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
